<div style="text-align: center">
  <mat-toolbar color="primary">
    <span>TV Show App</span>
  </mat-toolbar>
<br/>
<div style="text-align: center">Your favorite TV Show!</div>
<br/>
<div style="text-align: center">
  <app-show-search (searchEvent) = "doSearch($event)"></app-show-search>
</div>
<mat-card color='primary'>
  <app-tv-show [current]="tvShow"></app-tv-show>
</mat-card>

<mat-card color='primary'>
  <app-previous-search [current]="tvShowPre"></app-previous-search>
</mat-card>

<mat-card color='primary'>
  <h2 style="text-align: left">Explore What's Streaming!!!!</h2>
  <app-show-schedule></app-show-schedule>
</mat-card>
</div>  
